{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 4,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}